.navbar {
    height: 75px;
}


.h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
}

.body-text {
    font-family: 'Open Sans', sans-serif;
}

.title-text {
    font-family: 'Marmelad', sans-serif;
}
